<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @person.email %>
</p>

<p>
  <b>Give up what:</b>
  <%= @person.give_up_what %>
</p>

<p>
  <b>Give up why:</b>
  <%= @person.give_up_why %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
